.filterBox {
	background-color: var(--cool-gray);
	margin-top: 20px;
}

.filterBox h2 {
	color: var(--white);
	margin-left: 10px;
	margin-bottom: 0;
}

.filterGrid {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.filterGrid > div {
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	width: 100%;
	margin: 0 4px;
	flex-direction: column;
	border: 1px solid black;
	text-align: center;
	font-size: 16px;
}
.filterGrid > div input {
	width: 100%;
}

@media screen and (max-width: 650px) {
	.filterGrid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 4px;
	}
}

@media screen and (max-width: 500px) {
	.filterGrid {
		grid-template-columns: auto auto;
	}
}

@media screen and (max-width: 300px) {
	.filterGrid {
		grid-template-columns: auto;
	}
}
