.tableContainer {
	overflow-x: scroll;
	width: 100%;
}

.img {
	cursor: pointer;
	height: 15px;
}

#employees {
	border-collapse: collapse;
	width: 100%;
	margin-top: 5px;
}

#employees td,
#employees th {
	border: 1px solid var(--gray);
	padding: 8px;
	min-width: 150px;
}
#employees td:last-child,
#employees th:last-child {
	min-width: 20px !important;
}

#employees tr:nth-child(even) {
	background-color: var(--ivory);
}

#employees tr:hover {
	background-color: var(--blue-gray);
	color: var(--white);
}

#employees th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--cool-gray);
	color: white;
}
