.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #ff8c00;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.25);
	z-index: 50;
	text-align: center;
	overflow: hidden;
}

.header h1 {
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #fff;
	font-weight: 900;
}

@media screen and (max-width: 450px) {
	.header h1 {
		font-size: 16px;
	}
}
